html{
	background-color: #800080;
}

body{
	margin:0;
}

header{
	position: fixed;
	width: 100%;
	background-color: #000000;
    color: #F8F8FF;
    font-family: "Helvetica Neue",​Arial,​Helvetica,​Geneva,​sans-serif;
    clear: both;
    z-index: 1000;
}

li {	
	list-style-type:none;
}

#header-logo{
	font-size: 30px;
	float:left; 
	margin-right: 43px;
	margin-left: 14px;
}

a#header-logo:hover{
	text-decoration: none;
}

.header-category{
	float: left;
	text-decoration: none;
	margin-top: 12px;
	margin-left: 21px;
}

.header-submission{
	float: right;
	text-decoration: none;
	margin-top: 12px;
	margin-right: 21px;	
}

a {
	text-decoration: none;
	color: #F8F8FF;
}

a:hover {
	text-decoration: underline;
}