.story{
	margin-top: 50px;
	font: 18px/26px cambria,georgia,serif;
	text-align: center;
	position: relative;
	clear: both;
}

.story-title-author{
	margin-bottom: 10px;
	padding-left: auto;
	text-align: center;
}

.story-title{
	font-size: 25px;
	font-weight: bold;
	color: #000;
}

.story-author{
	color: white;
}

.story-content{
	clear: both;
}

a.story-title:hover{
	text-decoration: none;
}

a.story-author{
	text-decoration: underline;
}