.story{
	margin-top: 50px;
	font: 18px/26px cambria,georgia,serif;
	text-align: center;
	position: relative;
	clear: both;
}

.story-title{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

.story-author{
	margin-top: 20px;
	margin-right: 460px;
	float: right;
	color: gray;
}